

html,body {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: radial-gradient(circle at 50% -50%, rgb(107, 39, 217) 0%, rgb(2, 6, 23) 58%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 10px;
}

  
.outerContainer {
  color: transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 10px;
  left:0px;
}

.leftText, .formContainer {
  flex: 1;
  padding: 20px;
}

.leftText {
  background-color: transparent;
  color: #ecede6;
  font-size: 100px;
  order: 1;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  order: 2;
}

@media (max-width: 1475px) {
  .leftText, .formContainer {
      flex: 0 0 100%;
  }
  .leftText {
      order: 1;
  }
  .formContainer {
      order: 2;
  }
}

.form{
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(0px);
  border-radius: 24px;
  background-color: rgba(117, 117, 117, 0.18);
  padding: 10px 80px 50px 80px;
}

.header {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 150px;
  padding-top: 50px;
  color: #f0f0f0;

}

#inputFname, #inputLname {
  display: inline ;
}

#span1, #span2{
  position: absolute;
  top: 260px;
}

#span2 {
  right: 354px;
}

#inputLname {
  position: fixed;
  margin-top: 289px;
  margin-left: 434px;
}

.field{
  display: flex;
  flex-direction: column;
  text-align: start ;
  padding:0;
  margin-bottom: 40px;
}

.field span{
  color: white;
  padding-left: -1%;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 10;
}

.field input {
  height: 100%;
  outline: none; 
  padding: 15px;
  border: none;
  font-size: 25px;
  color: aliceblue;
  border-radius: 9px;
  background-color: rgba(151, 150, 150, 0.29);
}

.field input::placeholder{
  color: #f0ececb7;
  font-size: 20px;
}

.field input:focus{
  border: 2px solid #e8f530;
  transition: ease border 0.1s;
}

#passwordEye {
  position:absolute;
  right: 90px;
  top: 579px;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

#passwordEye:hover {
  top: 577px;
  right: 88px;
  height:54px;
  width: 54px;
  border-radius: 50px;
  transition: all 0.2s;
}

.divBtnSignup {
  text-align: center;
  align-items: center;
  margin-top: 100px;
  color: white;
  font-size: 20px;
}

.btnSignup {
  margin-top: 0px;
  background-color: rgb(217, 229, 43);
  box-shadow: 10px 0px 30px rgb(36, 15, 48);
  width: 98%;
  height: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
  border:none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 25px;
}

.btnSignup:hover {
  width: 100%;
  transition: all 0.15s ease;
}

.btnSignup:focus {
  color: white;
  background-color: rgba(176, 110, 251, 0.593);
  outline: none;
}

.signUpLink {
  color : #b1bb27;
}

.signUpLink:hover {
  color : #b1bb27;
}

